// app global css
.q-page{
    overflow-x: hidden;
}

.overflow-hidden{
    overflow: hidden;
}
.q-stepper--vertical .q-stepper__step-inner {
    padding: 5px 24px 10px 60px;
}
.q-btn{
    font-weight: bold;
}
.shadow-sm{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
}
.shadow-md{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}
.rounded-none{
    border-radius: 0;
}
.rounded-sm{
    border-radius: 12px;
}
.rounded-b-none{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.rounded-t-lg{
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.q-btn--push{
    &:before{
    
    }
}

.q-item.q-push, .q-expansion-item.q-push{
    /*box-shadow: 0px 0px 0px 4px #93333e36;*/
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.q-card.q-push-light {
    box-shadow: 0px 0px 0px 4px #00000010;
}
.q-avatar.q-push{
    box-shadow: 0px 0px 0px 6px #93333e36;
}
.q-btn.q-push{
    box-shadow: 0px 0px 0px 4px rgba(253, 149, 91, 0.2) !important;
    border: none !important;
    
    &:before{
        box-shadow: none;
    }
}
.line-h-1{
    line-height: 1.3;
}

.semisphere{
    border-radius: 100%;
    box-shadow: 0px 35px 0px 34px white;
    width: 120%;
    margin-left: -10%;
    height: 70px;
    margin-top: -30px;
}
.rounded-borders{
    border-radius: 20px;
}

.bg-main-primary{ background: $gradient-main-primary; }

.bg-gradient-primary{ background: $gradient-primary; }

.bg-gradient-purple{ background: $gradient-purple; }
.bg-gradient-deep-purple{ background: $gradient-deep-purple; }
.bg-gradient-indigo{ background: $gradient-indigo; }
.bg-gradient-blue{ background: $gradient-blue; }
.bg-gradient-cyan{ background: $gradient-cyan; }
.bg-gradient-green{ background: $gradient-green; }
.bg-gradient-lime{ background: $gradient-lime; }
.bg-gradient-orange{ background: $gradient-orange; }
.bg-gradient-deep-orange{ background: $gradient-deep-orange; }
.bg-gradient-red{ background: $gradient-red; }
.bg-gradient-brown{ background: $gradient-brown; }